
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aquamarine;
    color: black;
    
}
.head-name{
    
    font-size: 3rem;

    margin: 2rem 0;
    margin-left: 5rem;
    
}
.navbar-link{
    padding: 0 4rem;
   
}
.navbar-link ul{
    margin: 0;
    padding: 0;
    display: flex;
    height: 3rem;
    
}
.navbar-link ul li{
    list-style: none;
    padding: .5rem 1rem;
}
.navbar-link ul li a{
    text-decoration: none;
    color: black;
    display: block;
    height: 1.8rem;
   
}
.navbar-link ul button{
    border: none;
    background: none;
    margin-top: -.2rem;
   
    padding: 0;
}
.navbar-link button img{
    width: 1.5rem;
    height: 1.5rem;
    transition: 1s;
}
.navbar-link ul a:hover{
    border-bottom: 2px solid black;
    
}
.navbar-link ul a:focus{
    outline: auto;
}
.navbar-link button img:hover{
    width: 2rem;
    height: 2rem;
}
.toggle-button{
    position: absolute;
    top: 3rem;
    right: 2rem;
    
    background: none;
    border: none;
    display: none;
    padding: 0;
    z-index: 100;
   


}
.toggle-1{
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    width: 2.5rem;
    height: 1.8rem;
    
}
.toggle-line{
    width: 2.5rem;
    height: .3rem;
    background-color:#000;
    border-radius: 5px;
}
.newmenu{
    width: 98%;
    margin: 0 1%;
    padding: 2rem 2rem;
    background-color: white;
    border-radius: 5px;
    position: fixed;
    top: 2rem;
    display: none;
    overflow: scroll;
    z-index: 1;
    
}
.newmenu .headname{
    font-size: 180%;

}
.search{
    margin: 1rem 0;
    width: 100%;
    
}
.search button{
    background-color: rgb(233, 225, 225);
    border: 0;
    padding: .2rem;
    border-radius: 5px;
    display: flex;
    width: 100%;
    align-items: center;
    cursor: pointer;
    
}
.search button img{
    margin: 0 .5rem;
    padding: .3rem 0;
}
.newmenu h6{
    color: rgb(57, 62, 68);
    font-size: .8rem;
    margin: 0;
}
.newlinks{
    display: flex;
    
}
.newlink-part1{
    width: 50%;
}
.newlink-part2{
    width: 50%;
}
.newlist ul{
    padding: 0;
    margin: 0;
    
} 
.newlist li{
    list-style: none;
    padding: .1rem;
   
    
}
.newlist li img{
    width: 1.2rem;
    height: .8rem;
    
    
}
.newlist li a{
    text-decoration: none;
    color: rgb(65, 58, 58);
    
}
.podcast{
    margin: 1rem 0;
}

.quick ul{
    
    
    margin: 0;
    padding: 0;
    margin-top: 1rem;
}
.quick li{
    list-style: none;
    float: left;
    margin-right: 1rem;
    
}
.quick li a{
    text-decoration: none;
    color: black;
}
.clse{
    width: 2rem;
    height: 2rem;
    display: none;
}
.toggle-1.active{
    display: none;
}

.clse.active{
    display: block;
}
.slide1 img{
    width: 100%;
    height: 510px;
}

.feature1{
    background-color: rgb(2, 252, 219);
    border-radius: 10px;
    padding: 2rem;
    width: 32%;
    max-height: 50%;
    overflow-wrap: break-word;
    position: absolute;
    top: 50%;
    margin: 0 5%;


}
.feature1 p{
    padding: 0;
    margin: 0;
}
.feature1 h1{
    padding: 0;
    
}
.scnd{
    display: none;
}
.author-header{
    border-bottom: 2px solid rgb(17, 158, 146);
    padding-bottom: 3rem;
    position: relative;
    
}
.color-area{
    background-color: rgb(201, 238, 235);
    width: 100%;
    height: 17rem;
}
.details{
    margin-top: 10rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:  end;
}
.author-header h1{
    text-align: center;
   margin: 0;
   font-size: 4.5rem;
   color: rgb(17, 158, 146);

    
}
.author-header p{
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 2.3rem;
    color: rgb(64, 73, 73);
    
}
.circles{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
   
    background-color: rgb(17, 158, 146);
}
.circle-cont{
    position: absolute;
    top: 9rem;
    width: 100%;
    display: flex;
    justify-content: center;

} 
.media{
    
    position: absolute;
    bottom: -1.2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    
 
}
.icons{
    width: 5rem;
    height: 2.3rem;
    background-color: rgb(223, 245, 245);
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    padding: .4rem .5rem;
}
.icons svg{
    color: rgb(17, 158, 146);
    
}

.more{
    background-color: rgb(217, 235, 235);
    width: 80%;
    height: auto;
    border-radius: 10px;
    padding: 3rem 2rem;
}
.more-cont{
    margin:4rem 0 ;
    display: flex;
    justify-content: center;

}
.img-cont{
    width: 95%;
    height: 95%;
    background-color: white;
    border-radius: 10px;
    margin: 1rem 0;

}
.more-cont h6{
    font-size: 2rem;
    font-weight: 200;
    margin: 0;
    color: rgb(71, 67, 62);
}
.part1{
    display: flex;
    color: rgb(71, 67, 62);
    justify-content: left;
    font-size: 2rem;
    
    
    
}
.part1 h1{
    font-size: 2rem;
    color: black;
   line-height: 2.7rem;
    margin: 0;
}
.img-main{
    width: 25%;

}
.img-cont{
    width: 90%;
    height: 90%;
    padding: 10% 15%;
   
    


}
.img-cont img{
    width: 100%;
    
    height:100%;
}
.img-details{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    line-height: 3rem;
    padding-bottom: 1.3rem;
    

}

@media (max-width:1000px){
    .toggle-button{
        display: flex;
    }
    .navbar-link{
        display: none;
    }
    .newmenu.active{
        display: block;
    }
    .author-header h1{
        font-size: rem;
    }
    .author-header p{
        font-size: 2rem;
    }
   
    
    
   
   


}

@media(max-width:1300px){
    .feature1 .para{
        display: none;
    }
    .feature1{
        width: 70%;
    }
    
    
}
@media(max-width:900px){
    .author-header h1{
        font-size: 3.6rem;
    }
    .author-header p{
        font-size: 1.8rem;
    }
}
@media(max-width:800px){
    .author-header h1{
        font-size: 3.2rem;
    }
    .author-header p{
        font-size: 1.6rem;
    }
}

@media (max-width:700px){
    .feature1{
        width: 90%;
    }
    .author-header h1{
        font-size: 3rem;
    }
    .author-header p{
        font-size: 1.4rem;
    }
   
    
}
@media (max-width:600px){
    .author-header h1{
        font-size: 2.6rem;
    }
    .author-header p{
        font-size: 1.2rem;
    }
}
@media (max-width:500px){
    .author-header h1{
        font-size: 2.2rem;
    }
    .author-header p{
        font-size: 1rem;
    }

}
@media (max-width:400px){
    .author-header h1{
        font-size: 1.6rem;
    }
    .author-header p{
        font-size: .8rem;
    }

}
@media (max-width:300px){
    .author-header h1{
        font-size: 1.4rem;
    }
    .author-header p{
        font-size: .6rem;
    }
}
@media (max-width:400px){
    .feature1{
        top: 34.5%;
        border-top-left-radius:0 ;
        border-top-right-radius: 0;
    }
}





